.header_container {
  background-image: url("../../img/hand.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 439px;
	}

.header_row {
  display: flex;
  flex-direction: row;
}

.name {
  height: 27px;
  display: inline;
  font-size: 22px;
  left: 32px;
  letter-spacing: 0, 01em;
  text-align: center;
}

.label,
.home,
.services {
  text-decoration: none;
  color: #928062;
	position: fixed;
	display: inline;
}

.services, .home {
  font-size: 15px;
  height: 30px;
	margin-left: 700px;
  }

	.home {
		padding-left: 100px;
	}

	.label {
  line-height: normal;
	margin-left: 50px;
}

.slogan {
  text-align: right;
  margin-right: 70px;
	margin-top: 150px;
	}

.welcome {
  font-size: 25px;
	margin: 0%;
}

.beauty {
  font-size: 60px;
	margin: 0%;
}

.start {
  font-size: 60px;
	margin: 0%;
}

.moto {
  font-size: 16px;
	margin: 0%;
}
